<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/tati-website.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> kaleidoscopeart Website </h3>
    <ul>
      <li> Website setup, design, hosting, CDN</li>
    </ul>
    <p>Website, email, CMS, Content Delivery network setup and hosting for www.kaleidoscopeart.co.za art school in Somerset West.</p>
    <a class="project-link" href="https://www.kaleidoscopeart.co.za">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/groobies.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Groobies International Airpot Website </h3>
    <ul>
      <li> Website development and design in VUE.js/Nuxt.js</li>
    </ul>
    <p>Website designed for a South African movie shoot to have a interactive website for actors to interact with.</p>
    <a class="project-link" href="http://grabies-intl-web.s3-website.eu-west-2.amazonaws.com/">Check it out</a>
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div> -->
</div>
