#particles-js-smaller{
background:#1a222c;
display:flex;
vertical-align:bottom;
width:100%;min-height:70vh;
background-repeat:no-repeat;
background-size:cover;background-attachment:fixed
}
#particles-js .particles-js-canvas-el{width:100%!important;height:100vh!important}

.header-smaller {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 50%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 4%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}