<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include smaller_header.html %}
      <section id="contact">
        <div class="card">

          <div>
  <link rel="stylesheet" href="https://cdn.formbold.com/formbold.css" />
  <br />
  <div class="formbold-builder-form themeOne">
    <form
      enctype="multipart/form-data"
      action="https://formbold.com/s/9X1VB"
      method="POST"
      class="mx-auto w-full max-w-[570px] rounded-[10px] border border-stroke bg-white p-10 themeOne"
    >
      <div class="SortableItem fb-builder-item">
        <div class="mb-4">
          <label class="mb-2.5 block text-base text-black"
            ><span>Name</span
            ><span class="label-required pl-1 text-red-400">*</span></label
          ><input
            type="text"
            class="w-full rounded border border-stroke bg-white px-5 py-3 text-base text-black outline-none focus:border-primary"
            name="text_input_C331A8BE-F351-4E7F-977C-A91A6C911AE9"
            placeholder="Name"
            value=""
            required=""
          />
        </div>
      </div>
      <div class="SortableItem fb-builder-item">
        <div class="mb-4">
          <label class="mb-2.5 block text-base text-black"
            ><span>E-Mail</span
            ><span class="label-required pl-1 text-red-400">*</span></label
          ><input
            type="email"
            class="w-full rounded border border-stroke bg-white px-5 py-3 text-base text-black outline-none focus:border-primary"
            name="email_input_CC30E6B4-00FC-4DD6-AC82-92CB2E2C6F43"
            placeholder="Enter Email Address"
            value=""
            required=""
          />
        </div>
      </div>
      <div class="SortableItem fb-builder-item">
        <div class="mb-4">
          <label class="mb-2.5 block text-base text-black"
            ><span>Message</span
            ><span class="label-required pl-1 text-red-400">*</span></label
          ><textarea
            class="w-full rounded border border-stroke bg-white px-5 py-3 text-base text-black outline-none focus:border-primary"
            name="text_area_A110A1D2-DFDD-45C4-A7E2-F6D0920E284B"
            placeholder="Message"
            required=""
          ></textarea>
        </div>
      </div>
      <div class="btn-toolbar flex items-center space-x-3">
        <input
          type="submit"
          class="inline-flex cursor-pointer items-center justify-center rounded border border-primary bg-primary px-8 py-2 text-base font-medium text-white hover:bg-opacity-90"
          value="Submit"
        />
      </div>
    </form>
    <p class="mt-8 flex items-center justify-center">
      Powered by<span class="pl-2"
        ><a href="https://formbold.com" rel="nofollow noopener" target="_blank"
          ><img
            src="https://cdn.formbold.com/formbold-logo.svg"
            alt="Formbold Logo"
            style="max-width: 100px;" /></a
      ></span>
    </p>
  </div>
</div>
          </div>

   
         
      </section>

      {% include footer.html %}
  </body>
