<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="contact">
        <div class="card">
          <div class="card-header">
            Contact us
          </div>
          <div class="card-body">
            <h5 class="card-title">Please leave us your email and how we can help</h5>
            <form
            action="https://formspree.io/f/myybpglr"
            method="POST"
            >
            <label>
              Your email:
              <input class="form-control" type="text" name="_replyto">
            </label>
            <label>
              Your message:
              <textarea class="form-control" name="message"></textarea>
            </label>
  
            <!-- your other form fields go here -->
  
            <button class="btn btn-primary" type="submit">Send</button>
            </form>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

       <!-- modify this form HTML and place wherever you want your form -->

         
      </section>
       
      {% include footer.html %}
  </body>
