<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="contact">
        <div class="card">
          <div class="card-header">
            Contact us
          </div>
          <div class="card-body">
            <h5 class="card-title">Please leave us your email and how we can help</h5>
           <form method="POST" action="https://formspree.io/f/myybpglr">
              <input type="email" name="email" placeholder="Your email">
              <input type="text" name="name" placeholder="Your name">
              <textarea name="message" placeholder="Your message" rows="3">
              </textarea>
              <button type="submit">Send Message</button>
            </form>
          
          </div>
        </div>

       <!-- modify this form HTML and place wherever you want your form -->

         
      </section>
       
      {% include footer.html %}
  </body>
